
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

td.selected {
    background-color: red;
}

td.highlighted {
    background-color: green;
}
